VITE_APP_NETWORK=testnet
VITE_APP_ENOKI_PUBLIC_KEY=


# Walrus Storage Configuration
# Primary publisher - will try fallbacks if this fails
VITE_WALRUS_PUBLISHER=publisher.walrus-testnet.walrus.space
VITE_WALRUS_AGGREGATOR=aggregator.walrus-testnet.walrus.space
VITE_WALRUS_EPOCHS=5

